#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.puppies-list-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 670px;
  justify-content: center;
}

.position-relative {
  position: relative;
}
.info-puppy-div {
  position: absolute;
  top: -10px;
  background: #ededed;
  border: 2px solid #c27664;
  padding: 5px 10px 5px 10px;
}

.right-hr {
  width: 110px;
  position: absolute;
  top: -38px;
  right: 70px;
  transform: rotate(45deg);
  border: 1px solid #c27664;
}

.left-hr {
  width: 110px;
  position: absolute;
  top: -38px;
  left: 84px;
  transform: rotate(135deg);
  border: 1px solid #c27664;
}

.info-puppy {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  border: 5px solid #c27664;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  margin-left: 15px;
  width: 320px;
}

.info-list-puppy {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  margin: 0px;
  background-color: #84d2c5;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #e4c988;
  padding: 15px 10px 15px 10px;
}

.list-puppies {
  border: 5px solid #c27664;
  border-radius: 15px;
  width: 310px;
}

p:nth-child(odd) {
  background: #ededed;
}

p:hover {
  font-weight: 800;
  cursor: pointer;
}

p:first-child {
  background-color: #84d2c5;
  margin-top: 0px;
  padding: 15px;
  border-bottom: 3px solid #e4c988;
  font-weight: 800;
  font-size: 1.3rem;
  cursor: default;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p {
  height: 40px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/**********************************************************
                    PHONE VIEW
**********************************************************/
@media (min-width: 320px) and (max-width: 767px) {
  .puppies-list-info {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .info-puppy {
    margin-left: 0px;
  }
  .right-hr {
    width: 94px;
    top: -32px;
    right: 83px;
  }
  .left-hr {
    width: 94px;
    top: -32px;
    left: 83px;
  }
}
